# --- Environment Files ---
.env
.flaskenv
*.sqlite3
*.db

# --- Python Environment / Dependencies ---
__pycache__/
*.pyc
venv/
env/                 # <-- This ignores your virtual environment folder
/htmlcov/
dist/
build/
*.egg-info/
.pytest_cache/

# --- Operating System Files ---
.DS_Store
Thumbs.db